@import 'config';

footer {
  width: 100%;
  height: 50px;
  border-top: 1px solid $dark-blue;
  padding: 10px 5px;
  margin-top: auto;

  .contact {
    width: 100%;
    margin: 0 auto;
    text-align: center;

    a {
      color: $dark-blue;
      text-decoration: none;
      width: 44px;
      height: 44px;
    }

    button {
      background-color: transparent;
      border: none;
    }

    img {
      width: 44px;
      height: 44px;
      color: $dark-blue;
    }
  }
}

@media (max-width: $lg) {
  footer {
    height: 35px;

    .contact {
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}