@import 'config';

header {
  margin-bottom: 175px;

  .navbar {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 140px;
    text-align: center;
    background-color: $yellow;

    li {
      display: inline-block;
    }

    a {
      text-decoration: none;
      color: $dark-blue;
    }

    &__top {
      width: 85%;
      margin: 0 auto;
      padding: 10px 0;

      input {
        border: none;
        border-bottom: 2px solid $dark-blue;
        width: 250px;
        height: 35px;
        padding: 10px;
        font-size: $main-font-size;
        background-color: $pewter;
      }

      input:active,
      input:focus,
      button:active,
      button:focus {
        outline: none;
      }

      button {
        border: none;
        border-bottom: 2px solid $dark-blue;
        height: 35px;
        padding: 10px;
        background-color: $pewter;
        cursor: pointer;
        font-size: $main-font-size;

        svg {
          padding-bottom: 5px;
        }
      }

      p {
        color: $dark-blue;
        font-size: $secondary-font-size;
      }

      #mobileNavButton {
        background-color: transparent;
        width: 48px;
        height: 48px;
        border: none;
        padding: 0;
        transition: all 0.2s ease;

        svg {
          padding: none;
        }
      }

      .logout-button {
        background-color: transparent;
        padding: 0;
        border: none;
        font-size: $secondary-font-size;
        cursor: pointer;
      }
    }

    &__bottom {
      width: 75%;
      margin: 0 auto;
      padding: 10px 0;
      padding-bottom: 25px;

      li {
        border-right: 1px solid $dark-blue;
        border-left: 1px solid $dark-blue;

        &:nth-of-type(1) {
          border-left: 2px solid $dark-blue;
        }

        &:nth-last-of-type(1) {
          border-right: 2px solid $dark-blue;
        }

        &:hover {
          background-color: darken($yellow, 5);
        }
      }

      a {
        display: inline-block;
        color: $dark-blue;
        font-size: $main-font-size;
        width: 100%;
        height: 100%;
      }
    }

    .cart-items-count {
      position: absolute;
      width: 100%;
      height: 100%;

      p {
        position: absolute;
        left: 32%;
        bottom: -50%;
        background-color: $dark-blue;
        color: $yellow;
        padding: 0;
        margin: 0;
        width: 18px;
        height: 18px;
        font-size: 0.8rem;
      }
    }

    #navbar__mobile {
      background-color: $yellow;
      font-size: $main-font-size;
      width: 70%;
      height: 100vh;
      text-align: start;
      padding: 15px 15px;
      z-index: 100;
      transform: translateX(-100%);
      transition: all 0.2s ease;

      li {
        display: block;
        padding: 7px 0;

        a {
          width: 100%;
          display: block;
        }
      }

      .logout-button {
        background-color: transparent;
        padding: 0;
        border: none;
        font-size: $main-font-size;
        cursor: pointer;
      }
    }
  }

  #backdrop {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease;
  }
}

@media (max-width: $xl) {
  .navbar {
    &__top {
      width: 85%;
    }

    &__bottom {
      width: 85%;
    }
  }
}

@media (max-width: $lg) {
  header {
    margin-bottom: 100px;

    .navbar {
      height: 80px;
  
      &__top {
        width: 95%;
  
        input {
          width: 150px;
        }
      }
  
      .cart-items-count {

        p {
          bottom: -10%;
          left: 35%;
          font-size: 1rem;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  
}

@media (max-width: $md) {
  header {
    .navbar {
      &__top {
        width: 100%;
      }
  
    }
  }
}

@media (max-width: $sm) {
  header {
    .navbar {
      &__top {
        input {
          width: 125px;
        }
      }
  
      .cart-items-count {

        p {
          bottom: -10%;
          left: 20%;
          font-size: 1rem;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
