@import 'config';

.cart-list {

  li {
    display: block;
    width: 100%;
  }

  .cart-card {
    width: 100%;
    background-color: $yellow;
    color: $dark-blue;
    padding: 20px;
    font-size: $main-font-size;

    img {
      width: 12rem;
      height: auto;
    }

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      margin: 0 auto;
      padding: 0;

      &:active,
      &:focus {
        outline: none;
      }
    }
  }
}