@import 'config';

.product-detail {
  color: $dark-blue;
  margin-bottom: 50px;

  p {
    font-size: $secondary-font-size;
  }
}

.custom-break {
  background-color: $dark-blue;
  height: 55px;
  width: 100%;

  p {
    color: $yellow;
    font-size: $main-font-size;
    margin: 0 auto;
  }
}

.add-review {

  p {
    font-size: $secondary-font-size;
  }

  #ratingButtonsContainer {
    width: 235px;
    height: 44px;

    button{ 
      z-index: 100;
      background-color: transparent;
      border: none;
      cursor: pointer;
      width: 44px;
      height: 44px;

      &:focus,
      &:active {
        outline: none;
      }
  
      svg,
      path {
        z-index: 50;
      }
    }
  }
}

@media (max-width: 1200px) {
  main {
    width: 80%;
  }

  .product-detail {

    img {
      width: 20rem;
    }
  }
}

@media (max-width: 568px) {
  main {
    width: 90%;
  }

  .product-detail {

    img {
      width: 16rem;
    }
  }
}