@import 'config';

.product-detail {
  color: $dark-blue;
  margin-bottom: 50px;

  img {
    width: 30rem;
  }

  p {
    font-size: $secondary-font-size;
  }
}

#deleteDialog {
  background-color: $yellow;
  width: 35%;
  height: 35%;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -10%;
  margin-left: -17.5%;
  padding: 5px 10px;
  transform: translateY(-300%);
  transition: all 0.2s ease;
  z-index: 100;

  #closeButton {
    position: fixed;
    right: 5%;
    top: 5%;
    cursor: pointer;
  }
}

#backdropProductDetail {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
}

.custom-break {
  background-color: $dark-blue;
  height: 55px;
  width: 100%;

  p {
    color: $yellow;
    font-size: $main-font-size;
    margin: 0 auto;
  }
}

.add-review {

  p {
    font-size: $secondary-font-size;
  }

  #ratingButtonsContainer {
    width: 235px;
    height: 44px;

    button{ 
      z-index: 100;
      background-color: transparent;
      border: none;
      cursor: pointer;
      width: 44px;
      height: 44px;

      &:focus,
      &:active {
        outline: none;
      }
  
      svg,
      path {
        z-index: 50;
      }
    }
  }

  textarea {
    padding: 5px 10px;
  }
}

.reviews {

  .review-card {
    border: 1px solid $dark-blue;
    margin: 3rem 0;
    padding: 15px 10px;

    li {
      display: block;
    }
  }
}

@media (max-width: $xl) {
  main {
    width: 80%;
  }

  .product-detail {

    img {
      width: 20rem;
    }
  }
}

@media (max-width: $lg) {
  #deleteDialog {
    width: 50%;
    margin-left: -25%;
    margin-top: -25%;
  }
}

@media (max-width: $sm) {
  main {
    width: 90%;
  }

  .product-detail {

    img {
      width: 16rem;
    }
  }

  #deleteDialog {
    width: 80%;
    height: 40%;
    margin-top: -40%;
    margin-left: -40%;
  }
}