@import 'config';

.product-list {
  width: 100%;
  margin: 0 auto;
  text-align: center;

  li {
    display: inline-block;
    width: 15rem;
    margin: 20px 10px;
  }

  .product-card {
    width: 15rem;
    background-color: white;

    p {
      width: 100%;
      background-color: $yellow;
      color: $dark-blue;
      padding: 10px;
      font-size: $main-font-size;

      &:nth-of-type(1) {
        height: 6rem;
      }

      &:nth-of-type(2) {
        height: 3rem;
      }
    }

    img {
      width: 15rem;
      height: 100%;
      margin: 0 auto;
      padding: 5px 0;
    }

    button {
      width: 100%;
      margin: 0 auto;
    }
  }

  
}

@media (max-width: 992px) {
  main {
    width: 80%;
  }

  .product-list {

    li {
      width: 10rem;
    }

    .product-card {
      width: 10rem;

      img {
        width: 10rem;
      }
    }
  }

}

@media (max-width: 568px) {
  main {
    width: 90%;
  }
}