@import 'config';

.user-panel {
  font-size: $secondary-font-size;
  color: $dark-blue;
  
  input,
  select {
    font-size: $secondary-font-size;
    padding: 5px 10px;
    border: 2px solid $blue-gray;
    height: 44px;
    width: 300px;
  }

  .edit-info {
    width: 100%;
    margin: 0 auto;

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
  

  .address-info {

    #addressFormButton {
      cursor: pointer;
    }

    #addressForm {
      display: none;
    }
  }
  
  #addresses {
    width: 100%;

    .address-container {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
      grid-template-rows: auto;
      grid-gap: 20px;

      .address-card {
        width: 100%;
        border: 2px solid $blue-gray;
        padding: 5px 10px;
        color: $dark-blue;
        margin: 0 auto;
        text-align: start;
        max-width: 550px;
  
        li {
          display: block;
          width: 100%;
          border-bottom: 1px solid $blue-gray;
        }
      }
    }

    .buttons {
      width: 100%;
      height: 110px;
      
    }
  }

  .admin-panel {
    a {
      color: $dark-blue;
    }
  }
}



@media (max-width: 568px) {
  main {
    width: 90%;
  }

  .user-panel {
    font-size: 1.1rem;

    input,
    select {
      width: 225px;
      font-size: 1.1rem;
    }
  }
}