@import 'config';

.user-panel {
  font-size: $secondary-font-size;
  color: $dark-blue;
  
  input,
  select {
    font-size: $secondary-font-size;
    padding: 5px 10px;
    border: 2px solid $blue-gray;
    height: 44px;
    width: 300px;
  }

  .edit-info {
    width: 100%;
    margin: 0 auto;

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }

  #userInfoButton {
    cursor: pointer;
  }
  
  .admin-panel {
    a {
      color: $dark-blue;
    }
  }
}



@media (max-width: $sm) {
  main {
    width: 90%;
  }

  .user-panel {
    font-size: 1.1rem;

    input,
    select {
      width: 225px;
      font-size: 1.1rem;
    }
  }
}