<!DOCTYPE html>
<html lang="ro-RO">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Animus este site-ul perfect pentru tine și animalul tău de companie. La noi poți găsi orice produse dorești." />
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1" />
    <meta property="og:title" content="Animus" />
    <meta property="og:description" content="Animus este site-ul perfect pentru tine și animalul tău de companie. La noi poți găsi orice produse dorești." />
    <meta property="og:site_name" content="Animus" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ro_RO" />
    <meta property="og:url" content="https://animus-lucian.herokuapp.com" />
    <meta property="og:image" content="/img/og-image.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content="Animus este site-ul perfect pentru tine și animalul tău de companie. La noi poți găsi orice produse dorești." />
    <meta name="twitter:site" content="@lucianmg05" />
    <meta name="twitter:creator" content="@lucianmg05" />
    <meta name="twitter:card" content="summary_large_image" />

    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png" />
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
    <link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png" />
    <link ref="mask-icon" href="/img/safari-pinned-tab.svg" color="#333652" />
    <link rel="manifest" href="/my.webmanifest" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="apple-mobile-web-app-title" content="Animus" />
    <meta name="application-name" content="Animus" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="theme-color" content="#ffffff" />
  </head>
</html>
