<%- include('./includes/head.ejs') %>
</head>

<body>
  <%- include('./includes/navigation.ejs') %>
  <main>
    <div class='w-100 text-center'>
      <h1>Pagina nu a fost găsită.</h1>
    </div>
  </main>

<%- include('./includes/end.ejs') %>