<%- include('./includes/head.ejs') %>
</head>

<body>
  <%- include('./includes/navigation.ejs') %>
  <main>
    <div class='w-100 text-center'>
      <h1>Nu sunteți autentificat!</h1>
      <div class='mt-5'>
        <a class='my-3 d-block' href="/sign-in">Autentificați-vă</a>
        <a class='my-3 d-block' href="/sign-up">Creați un cont</a>
      </div>
    </div>
  </main>

<%- include('./includes/end.ejs') %>