<%- include('./includes/head.ejs') %>
</head>

<body>
  <%- include('./includes/navigation.ejs') %>
  <main>
    <div>
      <h1>Nu sunteți autentificat!</h1>
    </div>
  </main>

<%- include('./includes/end.ejs') %>